body,
html {
  height: 100%;
  margin: 0;
  font-size: 12px !important;
  font-family: '微软雅黑';
}

body {
  display: flex;
}

@media screen and (max-width: 2056px) {
  .tac {
    width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .tac {
    width: 150px;
  }
}
