body,
html {
  height: 100%;
  margin: 0;
  font-size: 12px !important;
  font-family: '微软雅黑';
}

body {
  display: flex;
}

.el-menu-item {
  height: 30px;
  line-height: 30px;
}

@media screen and (max-width: 2056px) {
  .tac {
    width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .tac {
    width: 150px;
  }
}

.userIcon {
  height: 60px; // line-height: 60px;
  padding: 0 0 0 10px;
  border-bottom: 1px solid #bfcbd9;
  margin-bottom: 10px;
  .cirle-border {
    float: left;
    text-align: center;
    border: 2px solid #d8d8d8;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 10px 10px 10px 0;
    line-height: 36px;
  }
  .user-name {
    overflow: hidden;
    line-height: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
